stages:
  - validate
  - test
  - build
  - release

image: node:latest

cache:
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/
    - .npm/

install:
  stage: .pre
  script:
    - npm ci --cache .npm --prefer-offline

lint:
  stage: validate
  script:
    - npm run lint

audit:
  stage: validate
  script:
    - npm audit --audit-level=high

unit-test:
  stage: test
  script:
    - npm test

e2e-test:
  stage: test
  needs: ["unit-test"]
  script:
    - echo "Hello E2E !" 

build-image:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker image build --platform=linux/amd64 -t $IMAGE_TAG -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE --all-tags

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_COMMIT_TAG == null'
      when: manual
    - when: never
  script:
    - release-cli create
      --name "Release $CI_COMMIT_SHORT_SHA"
      --tag-name "v$CI_PIPELINE_IID"
      --description "Automated release from pipeline $CI_PIPELINE_ID"
